/* style for website */
.navBar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  grid-gap: 5%;
  list-style: none;
  padding-right: 2%;
  align-content: center;
  align-items: center;
  background-color: #858693;
  color: #f5913e;
}

h1 {
  font-family: serif;
  font-size: 45px;
  font-weight: 500;
  flex-grow: 3;
}
